* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: black;
}

.ceiling {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  z-index: 999;
  background-color: white;
  transition: 2s all 0s ease;
  box-shadow: 0px 2px 0px 0px #ccc;
}

#boc {
  position: relative;
}

#scontainer {
  margin-top: 145px;
  padding-top: 30px;
}

#scontainer .content-lf {
  min-height: 100px;
}

#scontainer .content-rt {
  min-height: 100px;
}

#scontainer .content-rt .hd {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #d9d9d9;
  font-size: 14px;
  font-weight: bold;
}

#scontainer .content-rt .rtNav .display {
  display: none;
}

#scontainer .content-con {
  min-height: 100px;
}

#scontainer .content-con .noun li {
  font-weight: bold;
  color: #434343;
}

#scontainer .content-con .Youdao {
  position: relative;
  width: 100%;
  min-height: 100px;
}

#scontainer .content-con .Youdao .display {
  display: none;
}

.shyTop {
  margin-top: 0;
  overflow: hidden;
}

.shyTop .h2-shy .pronounce {
  margin-top: 3px;
}

.shyTop .h2-shy .pronounce .pronoun {
  margin-right: 30px;
  font-size: 14px;
  color: #666;
  display: inline-block;
  line-height: 26px;
}

.wtcont .display {
  display: none;
}

.dict-ul .display {
  display: none;
}

.ifrom {
  width: 200px;
  height: 100%;
}

.ifrom-lf {
  position: absolute;
  font-size: 20px;
}

.ifrom-lf span {
  color: red;
  z-index: 10000;
  transition: all 1s ease 0s;
}
